.vertical-divider{
    width: 2px;
    height: auto;
    background-color: whitesmoke;
}
.App{
    display: flex;
    margin: 5rem;
}
.vertical-divider-2{
    width: 2px;
    height: auto;
    background-color: whitesmoke;
    margin-right: 100px;
}